* {
    /* Colors */
    --background-color: #121212;
    --background-dark-color: #060606;
    --background-light-color: #181818;

    --bright-color: #edf0f1;
    --bright-opacity-15-color: rgba(237, 240, 241, 0.15);
    --bright-opacity-45-color: rgba(237, 240, 241, 0.45);
    --bright-opacity-3-color: rgba(237, 240, 241, 0.03);

    --accent-color-1: #43CBFF;

    /* Shadows */
    --default-shadow: black 0px 5px 10px;
    --default-shadow-hover: var(--bright-opacity-45-color) 0px 5px 10px;


    /* Global Attributes */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bright-color);
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
}

.main {
    width: 100% auto;
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 0px;
    padding: 0px;
    display: grid;
    place-items: center;
    width: 76%;
    float: left;
}

.logo {
    text-align: right;
    padding-right: 1%;
    height: auto;
    vertical-align: top;
}

.center {
    text-align: center;
    align-items: center;
}

.button {
    width: 200px;
    color: var(--accent-color-1);
    text-align: center;
    padding: 9px 25px;
    background-color: var(--background-dark-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: var(--default-shadow);
}

.button:hover {
    box-shadow: var(--default-shadow-hover);
}

.time {
    color: var(--accent-color-1);
    padding-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: var(--background-dark-color);

}

.left-column {
    width: 12%;
    min-height: 1px;
    float: left;
}

.info-column {
    vertical-align: top;
    width: 12%;
    float: left;
}

.info-table {
    margin: 0px;
}

.info-table-cell {
    font-size: 14px;
    border: none;
    color: var(--bright-color)
}

.graph {
    color: var(--bright-color);
    background-color: var(--background-dark-color);
    height: 450px;
    width: 36vw;
    min-width: 600px;
    border-radius: 15px;
}

.graph_data {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    color: var(--bright-color);
    width: 36vw;
    min-width: 600px;
    height: auto;
    min-height: 300px;
    border-radius: 15px;
    background-color: var(--background-dark-color);
}

.dropdown {
    text-align: center;
    padding: 10px;
    width: 36vw;
    min-width: 600px;
}

.table {
    color: var(--accent-color-1);
    width: auto;
    height: auto;
    margin: 5px;
}

.table_without_head>thead {
    display: none;
}

.table_without_head> :not(:first-child) {
    border-top: 1px solid var(--bright-color);
}

.progress-div {
    visibility: hidden;
    padding: 5% 10%;
    background: linear-gradient(110deg, #7367F0, #3D396A);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--bright-color);
    border-radius: 15px;
    color: var(--bright-color);
}

/*anders gestalten? */
.tab {
    background-color: var(--background-color) !important;
    color: var(--bright-color) !important;
}

/* Classes used by Dash */
.multi_additional {
    display: flex;
}

.DateRangePickerInput__withBorder,
.DateInput,
.DateInput_input {
    border-radius: 50px;
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-color: var(--background-dark-color);
}


.DayPicker__withBorder,
.DateRangePicker_picker,
.CalendarMonth,
.CalendarMonth_caption,
.CalendarDay,
.DayPickerNavigation_rightButton__horizontalDefault,
.DayPickerNavigation_leftButton__horizontalDefault,
.CalendarMonthGrid,
.DayPickerKeyboardShortcuts_panel {
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-color: var(--bright-opacity-15-color);
}

.DayPicker_weekHeader {
    color: var(--bright-color);
}

.CalendarDay:hover,
.DayPickerNavigation_rightButton__horizontalDefault:hover,
.DayPickerNavigation_leftButton__horizontalDefault:hover {
    background-color: var(--bright-opacity-15-color);
    border-color: var(--bright-opacity-15-color);
}

.Select-control,
.Select-value,
.Select-input,
.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.is-open>.Select-control {
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-radius: 10px;
    border-color: var(--background-dark-color);
}

.Select-menu-outer {
    width: 680px;
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-radius: 10px;
    border-color: var(--background-color);
}

.Select-control {
    box-shadow: var(--default-shadow);
}

.Select-control:hover {
    box-shadow: var(--default-shadow-hover);
}