* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #edf0f1;

    background-color: #1e1e1e;
}

body{
    background-color: #1e1e1e;
}

.logo {
    text-align: right;
    padding-right: 1%;
    height: auto;
    vertical-align: top;
}

.center {
    text-align: center;
    align-items: center;
}

.button {
    width: 200px;
    color: #43CBFF;
    text-align: center;
    padding: 9px 25px;
    background-color: rgba(23, 23, 23, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.button:hover{
    background-color: rgba(78, 178, 248, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.time{
    color: #43CBFF;
    padding-left: 5px;
    border-style: solid;
    border-width:  2px;
    border-radius: 50px;
    border-color: #171717;

}

.box1, .box2, .box3, .box4{
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.box1{
    background: linear-gradient(110deg, #FEB692, #EA5455)
}

.box2{
    background: linear-gradient(110deg, #CE9FFC, #7367F0)
}

.box3{
    background: linear-gradient(110deg, #F97794, #623AA2)
}

.box4{
    background: linear-gradient(110deg, #43CBFF, #9708CC)
}

.info-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.info{
    color: #edf0f1;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.graph{
    color: #edf0f1;
    background-color: #171717;
    height: 450px;
    width: 700px;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;

}

.graph_data{
    padding: 10px;
    color: #edf0f1;
    width: 700px;
    height: 320px;
    border-radius: 15px;
    background-color: #171717;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.dropdown{
    text-align: center;
    padding: 10px;
    color: #23252A;
    width: 700px;

}

.content{
    display: grid;
    place-items: center;
}


.DateRangePickerInput__withBorder, .DateInput, .DateInput_input {
    border-radius: 50px;
    color: #43CBFF;
    background-color: #171717;
    border-color: #171717;
}


.DayPicker__withBorder,.DateRangePicker_picker, .CalendarMonth, .CalendarMonth_caption, .CalendarDay, .DayPickerNavigation_rightButton__horizontalDefault, .DayPickerNavigation_leftButton__horizontalDefault, .CalendarMonthGrid, .DayPickerKeyboardShortcuts_panel{
    color: #43CBFF;
    background-color: #171717;
    border-color: rgba(255,255,255, 0.1);
}

.DayPicker_weekHeader{
    color: #edf0f1;
}

.CalendarDay:hover, .DayPickerNavigation_rightButton__horizontalDefault:hover, .DayPickerNavigation_leftButton__horizontalDefault:hover{
    background-color: rgba(255,255,255, 0.1);
    border-color: rgba(255,255,255, 0.1);
}

.Select-control, .Select-value, .Select-input, .has-value.Select--single > .Select-control .Select-value .Select-value-label, .is-open > .Select-control{
    color: #43CBFF;
    background-color: #171717;
    border-radius: 10px;
    border-color: #171717;
}

.Select-menu-outer{
    width: 680px;
    color: #43CBFF;
    background-color: #171717;
    border-radius: 10px;
    border-color: #1e1e1e;
}

.Select-control{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.Select-control:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.table{
    color: #43CBFF;
    width: auto;
    height: auto;
}

