* {
    /* Colors */
    --background-color: #181818;
    --background-dark-color: #080808;
    --background-light-color: #282828;
    --background-grey-color: #4a4a4a;

    --bright-color: #edf0f1;
    --bright-opacity-15-color: rgba(237, 240, 241, 0.15);
    --bright-opacity-45-color: rgba(237, 240, 241, 0.45);
    --bright-opacity-3-color: rgba(237, 240, 241, 0.03);

    --accent-color-1: #FFFFFF;

    /* Shadows */
    --default-shadow: #2a2a2a 0px 5px 10px;
    --default-shadow-hover: var(--bright-opacity-45-color) 0px 5px 10px;

    /* Tabs */
    --tab-height: 35px;

    /* Global Attributes */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    margin-left: -15px;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bright-color);
    background-color: var(--background-grey-color);
    width: 100vw;
}

body {
    background-color: var(--background-color);
}

.main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.text {
    color: var(--accent-color-1);
    padding: 5px;
}

.content {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    width: 76%;
    float: left;
}

.logo {
    text-align: right;
    padding-right: 1%;
    height: auto;
    vertical-align: top;
}

.center {
    text-align: center;
    align-items: center;
}

.button,
.button_reset {
    width: auto;
    color: var(--accent-color-1);
    text-align: center;
    padding: 9px 25px;
    background-color: var(--background-grey-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: var(--default-shadow);
}

.button:hover,
.button_reset:hover {
    box-shadow: var(--default-shadow-hover);
}

.time {
    color: var(--accent-color-1);
    padding-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: var(--background-grey-color);

}

.left-column {
    width: 12%;
    min-height: 1px;
    float: left;
}

.info-column {
    vertical-align: top;
    width: 12%;
    float: left;
}

.info-table {
    margin: 0;
}

.vertical-center-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.graph {
    background-color: var(--background-dark-color);
    height: 50vh;
    width: 36vw;
    border-radius: 15px;
}

.graph_data {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    color: var(--bright-color);
    width: 36vw;
    height: auto;
    min-height: 25vh;
    border-radius: 15px;
    background-color: var(--background-dark-color);
}

.dropdown,
.dropdown-small {
    text-align: center;
    padding: 10px;
    width: 36vw;

}

.dropdown {
    margin-top: 12px;
}

.dropdown-small {
    width: auto;
}

.table {
    color: var(--accent-color-1);
    width: auto;
    height: auto;
    margin: 5px;
}

.table_without_head>thead {
    display: none;
}

.table_without_head> :not(:first-child) {
    border-top: 1px solid var(--bright-color);
}

.progress-div {
    visibility: hidden;
    padding: 5% 10%;
    background: var(--background-grey-color);
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--accent-color-1);
    border-radius: 15px;
    color: var(--accent-color-1);
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    background-color: transparent;
    width: 100%;
    margin-top: 2vh;
}

.settings-button {
    width: auto;
    color: var(--accent-color-1);
    text-align: center;
    padding: 9px 25px;
    background-color: var(--background-grey-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: var(--default-shadow);
    margin-left: 12px;
}

.settings-button:hover {
    box-shadow: var(--default-shadow-hover);
}

.settings-icon {
    height: 2.5vh;
    margin: 0;
    padding: 0 5px 0 0;
}

.settings-dropdown {
    margin: 3px;
    border: var(--bright-color) 1px solid;
    border-radius: 10px;
    text-align: center;
    width: 8vw;
    background: var(--background-grey-color) !important;
}

.settings-dropdown>.Select-menu-outer {
    width: 8vw;
    background-color: var(--background-grey-color);
}


.settings-div {
    background: var(--background-light-color);
    background-color: var(--background-grey-color);
    width: 10vw;
    height: 89vh;
    position: absolute;
    top: 9.5%;
    left: -20%;
    border: 1px solid var(--accent-color-1);
    border-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--accent-color-1);
    transition: left 0.5s linear;
    align-items: center;
    z-index: 1000;
}

.settings-h1 {
    margin-top: 5px;
    font-size: 23px;
    color: var(--bright-color);
    text-align: center;
    align-items: center;
}

.settings-h2 {
    margin-top: 10%;
    font-size: 20px;
    color: var(--bright-color);
    text-align: center;
    align-items: center;
}

.settings-h3 {
    margin-top: 15%;
    font-size: 20px;
    color: var(--bright-color);
    text-align: center;
    align-items: center;
}

.button_reset {
    position: absolute;
    text-align: center;
    margin-top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.close-settings-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-bottom: 2vh;
    border: 1px solid var(--bright-color);
    border-radius: 20px;
    padding: 0.5vh 2vh 0.5vh 2vh;
    background-color: var(--background-grey-color);
    color: var(--bright-color);
    font-size: 16px;
}

.close-settings-button:hover {
    box-shadow: var(--default-shadow-hover);
}

.tab-right,
.tab-left,
.tab-middle {
    background-color: #2d2d2d !important;
    border-color: #2d2d2d !important;
    color: #868686;
    padding: 5px 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0;
    font-stretch: ultra-expanded;
}


.tab--selected {
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
    border-left: none !important;
    border-right: none !important;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--accent-color-1) !important;
}

.tab:hover:not(.tab--selected) {
    background-color: rgba(237, 240, 241, 0.14) !important;
}

.reset_msg {
    background-color: var(--background-grey-color);
    width: auto;
    height: auto;
    position: absolute;
    font-size: 15vw;
    top: -10%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--bright-color);
    border-radius: 15px;
    color: var(--accent-color-1);
    text-align: center;
    transition: top 0.5s linear;
    z-index: 10000;
}

.modal_title_text {
    font-size: 23px;
}

/* Default classes used by Dash */
.dash-graph {
    width: 36vw;
    height: 50vh;
}

.tab-container {
    margin-left: -15px;
    z-index: 0;
    width: 100vw;
    height: var(--tab-height);
}

.multi_additional {
    display: flex;
}

.DateRangePickerInput__withBorder,
.DateInput,
.DateInput_input {
    border-radius: 50px;
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-color: var(--background-grey-color);
    box-shadow: var(--default-shadow);
}

.DateRangePickerInput:hover {
    box-shadow: var(--default-shadow-hover);
}


.DayPicker__withBorder,
.DateRangePicker_picker,
.CalendarMonth,
.CalendarMonth_caption,
.CalendarDay,
.DayPickerNavigation_rightButton__horizontalDefault,
.DayPickerNavigation_leftButton__horizontalDefault,
.CalendarMonthGrid,
.DayPickerKeyboardShortcuts_panel {
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-color: var(--bright-opacity-15-color);
    z-index: 1 !important;
}

.DateRangePickerInput_arrow_svg {
    color: white !important;
    fill: white !important;
}

.DayPicker_weekHeader {
    color: var(--bright-color);
}

.CalendarDay:hover,
.DayPickerNavigation_rightButton__horizontalDefault:hover,
.DayPickerNavigation_leftButton__horizontalDefault:hover {
    background-color: var(--bright-opacity-15-color);
    border-color: var(--bright-opacity-15-color);
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.is-open>.Select-control {
    color: white;
}

.settings-dropdown .Select-control {
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-radius: 10px;
    border-color: #808080;
    border-width: thin;
}

.settings-dropdown .Select-value {
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-radius: 10px;
    border-color: #808080;
}

/* formatiert die Auswahl beim Menü */
.settings-dropdown .VirtualizedSelectFocusedOption {
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-radius: 10px;
    border-color: var(--background-grey-color);
}

.dropdown .Select-control {
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-radius: 10px;
    border-color: var(--background-dark-color);
}

.dropdown .Select-value {
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-radius: 10px;
    border-color: var(--background-dark-color);
}

.Select-menu-outer {
    width: 35vw;
    color: var(--accent-color-1);
    background-color: var(--background-dark-color);
    border-radius: 10px;
    border-color: var(--background-color);
}

.Select-control:hover {
    box-shadow: var(--default-shadow-hover);
}

.table {
    color: var(--accent-color-1);
    width: auto;
    height: auto;
    margin: 5px;
}

.report_statistics_table {
    color: var(--accent-color-1);
    width: 40%;
    height: auto;
    margin: 40px;
}

.report_statistics_table_cell {
    font-size: 18px;
}


.multi_additional {
    display: flex;
}


.modal-content {
    color: var(--accent-color-1);
    background-color: var(--background-grey-color);
    border-radius: 10px;
    border-color: var(--bright-color);
}

.modal-header {
    place-items: center;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.btn-close {
    display: none;
}

.input {
    background-color: var(--background-grey-color) !important;
    border-color: var(--bright-color) !important;
    color: var(--accent-color-1) !important;
}

.dash-uploader-default,
.dash-uploader-padding,
.dash-uploader-uploading,
.dash-uploader-complete {
    display: table-cell;
    line-height: 0 !important;
    height: 2.5vw !important;
    min-height: 20px !important;
    width: 10.4vw !important;
    color: var(--accent-color-1);
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0 0 !important;
    background-color: var(--background-grey-color);
    border: none !important;
    border-radius: 50px !important;
    cursor: pointer;
    transition: all 0.3s ease 0s !important;
    box-shadow: var(--default-shadow) !important;
}

.dash-uploader-hovered {
    display: table-cell;
    line-height: 0 !important;
    height: 2.5vw !important;
    min-height: 20px !important;
    width: 10.4vw !important;
    color: var(--accent-color-1);
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0 0 !important;
    border: none !important;
    border-radius: 50px !important;
    cursor: pointer;
    transition: all 0.3s ease 0s !important;
    background-color: var(--background-grey-color);
    box-shadow: var(--default-shadow-hover)
}

.dash-uploader-default:hover {
    box-shadow: var(--default-shadow-hover);
}

.settings-dropdown-menu {
    background-color: var(--background-grey-color);
    padding: 0px;
}

.settings-dropdown-menu .dropdown-toggle {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

.settings-dropdown-menu .dropdown-menu {
    background-color: var(--background-grey-color);
    color: var(--bright-color);
    border: 1px solid white;
    border-top: none;
}

.settings-dropdown-menu .dropdown-apply {
    border-radius: 10px;
    background-color: var(--background-grey-color);
    color: var(--bright-color);
    margin-top: 1vw;
    margin-left: 10%;
    width: 80%;
    border: 1px solid;
}

.settings-dropdown-menu .dropdown-apply:hover {
    box-shadow: var(--default-shadow-hover);
}

.dropdown-menu-toggle {
    background-color: var(--background-grey-color);
}

.dropdown-list-label {
    display: block;
    padding-left: 0.5vw;
}